* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: floralwhite;
    min-height: 350vh;
    min-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 100000;
}

header.sticky {
    padding: 5px 100px;
    background: rgba(68, 71, 71, 0.8);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    font-size: 18px;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header.sticky .logo {
    color: white;
}

header.sticky ul li a {
    color: white;
}

header ul li a:hover,
header ul li a:active {
    color: red;
    text-decoration: none;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}

header.sticky ul li a:hover,
header ul li a:active {
    color: red;
    text-decoration: none;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
}



.banner1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/aica.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.banner2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/title_logo4.png) no-repeat center center;
    background-size: 50%;
}

.fight1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/PibS9QxN8nO4gj1.png);
    background-size: cover;
}

.bg {
    width: 100%;
    height: 105vh;
    background-color: rgb(240, 227, 133);
}

.bg2 {
    position: relative;
    margin-left: 160px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/bg2.png) no-repeat;
    background-size: 40%;
}

.aicb {
    position: absolute;
    margin-top: 98px;
    width: 100%;
    height: 100vh;
    background: url(../img/aicb.png) no-repeat;
    background-size: 43%;
    z-index: 1;
}

.button {
    margin-top: 500px;
    margin-left: 800px;
    position: absolute;
}

.button1 {
    background-color: #f10266;
    color: #fff;
    width: 250px;
    height: 45px;
    border: 0;
    font-size: 16px;
    border-radius: 50px;
}

.last {
    margin-top: 700px;
    margin-left: 800px;
    position: absolute;
}

.button2 {
    width: 280px;
    height: 35px;
    border: 0;
    background-color: rgba(68, 71, 71, 0.5);
    position: absolute;
    border-radius: 10px;
}

.bg3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background: url(../img/bg3.png) no-repeat;
    background-size: cover;
}


.do {
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    font-size: 15px;
    color: #000000;
}

.do1 {
    top: 150px;
    left: 100px;
    position: absolute;
    font-size: 25px;
    color: darkturquoise
}

.webser {
    width: 300px;
    top: 250px;
    left: 450px;
    position: absolute;
}

.banquan {
    width: 300px;
    top: 600px;
    left: 180px;
    position: absolute;
}

.debug {
    width: 300px;
    top: 600px;
    left: 800px;
    position: absolute;
}

.comm {
    width: 300px;
    top: 250px;
    left: 1100px;
    position: absolute;
}

footer {
    width: 100%;
    height: 25vh;
    background-color: rgb(17, 17, 17);
    position: absolute;
}

.Powered {
    margin-top: 40px;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #fff;
}

.zuozhe {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 20px;

}





















.about {
    margin-top: 200px;
    margin-left: 800px;
    position: absolute;
    font-size: 15px;
    color: #000000;
}

.about1 {
    margin-top: 250px;
    margin-left: 800px;
    position: absolute;
    font-size: 25px;
    color: #f10266;
}

.about2 {
    margin-top: 280px;
    margin-left: 800px;
    position: absolute;
    font-size: 25px;
    color: #000000;
}

.about3 {
    margin-top: 310px;
    margin-left: 800px;
    position: absolute;
    font-size: 25px;
    color: #2337e9;
}

.about4 {
    margin-top: 400px;
    margin-left: 800px;
    position: absolute;
    font-size: 12px;
    color: #000000;
}

.text {
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    font-size: 20px;
    color: #aaa4a4;
}

.text1 {
    margin-top: 200px;
    margin-left: 100px;
    position: absolute;
    font-size: 30px;
    color: rgb(236, 95, 95)
}

.text2 {
    margin-top: 250px;
    margin-left: 100px;
    position: absolute;
    font-size: 30px;
    color: rgba(68, 196, 222)
}

.text3 {
    margin-top: 500px;
    margin-left: 100px;
    position: absolute;
    font-size: 20px;
    color: azure;
}